body{
    text-align: center;
    font-size: 3em;
    font-family: sans-serif;
    background-image: url(fondo.png);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-decoration: underline solid purple;
    background-color: white;
}
p{
    font-weight: bolder;
    background-color: coral;
}
h2{
    background-color: black;
    color: white;
}
img{
    height: 50%;
    width: 50%;
}